<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script type="./public/javascripts/main.js"></script>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <p>Welcome to <%= title %></p>
    <h3><%= user %></h3>

    <h3><%= comment %></h3>
  </body>
</html>
