<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <style>
  body {background-color: <%= color %>;}
  </style>
  <body>

    <h1><%= title %></h1>
    <p>Hi <%= name %> !</p>
    <p><%= compliment %></p>
    <br />
    <h2>Add your own compliment below:</h2>
    <form class="" action="index.html" method="post">
      <input type="text">
    </form>
  </body>
</html>
