<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="background-color: <%= backgroundColor %>">
    <h1><%= greeting %>!</h1>
    <p>Welcome to <%= title %></p>
    <p><%= randomCompliment %></p>

    <form action="/" method="post">
      <input type="text" class="newCompliment" name='newCompliment' placeholder="Type your compliment here...">
      <input type="submit" class='newSubmit'>
    </form>
  </body>
</html>
