<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
<style>
body { background-color: <%= color %>;}
</style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Hi there, <%= name %></p>
    <p>
      <%= compliment %>
    </p>
    <form>
      <input type="text" value="compliment" name="compliment" /><input type="submit" value="Add Compliment" />
    </form>
  </body>
</html>
